<div class="signup-container">
  <div class="left-panel">
    <a href="/welcome" class="back-link"
      ><fa-icon [icon]="faArrowLeft"></fa-icon> Back</a
    >
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="name">
        <input
          id="first_name"
          formControlName="first_name"
          type="text"
          placeholder="First Name"
          required
        />
        <input
          id="last_name"
          formControlName="last_name"
          type="text"
          placeholder="Last Name"
          required
        />
      </div>
      <input
        id="email"
        formControlName="email"
        type="text"
        placeholder="Email Address"
        required
      />
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Username"
        required
      />
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
        required
      />
      <input
        id="confirm_password"
        formControlName="confirm_password"
        type="password"
        placeholder="Confirm Password"
        required
      />
      <button type="submit" [disabled]="signupForm.invalid">
        Let's Get Started!
      </button>
    </form>
  </div>
  <div class="right-panel">
    <img src="/assets/img/House Icon.png" alt="House" class="house" />
    <img
      src="/assets/img/Paw Print Icon.png"
      alt="Paw Top Left"
      class="paw-top-left"
    />
    <img
      src="/assets/img/Paw Print Icon.png"
      alt="Paw Bottom Right"
      class="paw-bottom-right"
    />
    <img
      src="/assets/img/Litter Box Icon.png"
      alt="Litter Box"
      class="litter-box"
    />
    <div class="pet-adoption">
      <img
        src="/assets/img/Speech Bubble.png"
        alt="Message"
        class="speech-bubble"
      />
      <img
        src="/assets/img/Login Screen Pets.png"
        alt="Pets"
        class="pet-image"
      />
    </div>
  </div>
</div>
