
<mat-sidenav-container>
    <mat-sidenav mode="push" [(opened)]="opened">
        <mat-list-item>
            <div class="push-down">
            <img src="/assets/img/Dashboard Icon.png">
            <button mat-button class="button-color position"> Dashboard</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div>
            <img src="/assets/img/Question Icon.png">
            <button mat-button class="button-color position"> Questions</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div>
            <img src="/assets/img/Paw Print.png">
            <button mat-button class="button-color position"> Pets</button>
            </div>
        </mat-list-item>
        <mat-list-item>
            <div>
            <img src="/assets/img/Account Icon.png">
            <button mat-button class="button-color position"> User Accounts</button>
            </div>
        </mat-list-item>
    </mat-sidenav>
    <mat-sidenav-content>
      
    <body>
        <div class="background-image-Cat"></div>
        <div class="background-image-Dog"></div>
        <div class="background-image-Paws"></div>
        <div class="dashboard">
            <div class="menu">
            <button (click)="opened=!opened" class="button-color"><img src="/assets/img/Menu Icon.png" class="menuLogo"></button>
            <img src="/assets/img/Title Bar.png" class="pipe">
            <p>Dashboard</p>
        </div>
    </div>
        <div class="center">
        <div class="rows">
            <div>
                <p class="topGap">Webpage Signups today</p>
                <div class="signUps"></div>
            </div>
            <div>
                <p class="topGap">Questionnaires Completed</p>
                <div class="completed"></div>
            </div>
            <div>
                <p class="topGap">Match Success Rate</p>
                <div class="completed"></div>
            </div>
        </div>
    </div>
        </body>
      
    </mat-sidenav-content>
</mat-sidenav-container>
