<!-- Display the welcome screen if not logged in -->
<router-outlet *ngIf="!isLoggedIn"></router-outlet>

<!-- Only show these elements if the user is logged in -->
<app-header *ngIf="isLoggedIn"></app-header>

<!-- Display background images and container when logged in -->
<div *ngIf="isLoggedIn" class="background-image-Paws"></div>

<div *ngIf="isLoggedIn" class="container">
  <div *ngIf="isLoggedIn" class="background-image-Cat"></div>
  <div *ngIf="isLoggedIn" class="background-image-Dog"></div>
</div>

<app-footer *ngIf="isLoggedIn"></app-footer>
