<div class="corner-image top-left"></div>
<div class="corner-image top-right"></div>
<div class="corner-image bottom-left"></div>
<div class="corner-image bottom-right"></div>
<div class="logo-container">
  <img src="assets/img/Welcome Page Icon.png" alt="Website Logo" class="logo" />
</div>

<h1>Welcome to Pet Matchmaker!</h1>

<p>
  We’re excited to assist you with finding your ideal pet match!<br />
  Complete the questionnaire to determine which pet best suites you. To view
  your results please sign up or log in.<br />
  Let’s get started on finding you the perfect pet!
</p>

<div class="buttons">
  <button (click)="onLoginClick()">Login</button>
  <button (click)="onSignUpClick()">Sign Up</button>
</div>
